In [54]:
#  make jupyter notebook dynamically reload modules
%load_ext autoreload
%reload_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [55]:
from scrap.scrap_apa import download_pdf
import pandas as pd
import requests
import os

def check_and_process_url(row: pd.Series, ind: int) -> None:
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4343.0 Safari/537.36",
    }
    request_timeout = 10
    # try-except block to handle exceptions
    try:
        response = requests.get(
            row['link_pdf'], headers=headers, timeout=request_timeout, stream=True  # type: ignore
        )
        if response.status_code == 200:
            print("View info url is valid!")
            pdf_filename = os.path.join(
                "scrap",
                "pdfs",
                # fstring to format the index with leading zeros 3 digits
                f"{row['Index']:03d}-{row["University"]}-{row["City"]}.pdf",
                
            )
            has_pdf =  download_pdf(response, pdf_filename)
            if has_pdf:
                print(f"Downloaded pdf file: {pdf_filename}")
            else:
                print(f"Failed to download pdf file: {pdf_filename}")
        else:
            has_pdf = False
            print(f"The url is not valid with code: {response.status_code}")
    except requests.exceptions.RequestException as e:
        print(f"Failed to check url: {e}")
        has_pdf = False
    return has_pdf

## download pdf for link

In [ ]:
import numpy as np
excel_file = "scrap/result/apa_programs_licensure.xlsx"
df = pd.read_excel(excel_file)
for file_name, row in df.iterrows():
    if row['link_pdf'] is not np.nan:
        # print(f"Processing row {ind}")
        print(row['link_pdf'])
        has_pdf = check_and_process_url(row, file_name)
        df.loc[file_name, "has_pdf"] = has_pdf
        if has_pdf:
            df.loc[file_name, "pdf_filename"] = f"{row['Index']:03d}-{row['University']}-{row['City']}.pdf"
# save the updated dataframe
df.to_excel(excel_file, index=False)

# download html table

In [57]:
import pandas as pd
import requests
import numpy as np
from bs4 import BeautifulSoup
import os

table_keywords = {
    "Mean number of years to complete the program" : "time_to_complete",
    "Tuition for full-time students" : "tuition",
    "Students who obtained APA/CPA" : "internship1",
    "Students who sought or applied for internships" : "internship2",
    "Students for whom this" : "attrition",
    "Licensure percentage" : "licensure",
}

def get_table(url:str, file_name) -> None:
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4343.0 Safari/537.36",
    }
    request_timeout = 10
    # try-except block to handle exceptions
    try:
        response = requests.get(
            url, headers=headers, timeout=request_timeout, stream=True  
        )
        if response.status_code == 200:
            print("View info url is valid!")
            soup = BeautifulSoup(response.content, 'html.parser')
            tables = find_all_tables(soup, file_name)
            return True
        else:
            print(f"The url is not valid with code: {response.status_code}")
            return False
    except requests.exceptions.RequestException as e:
        print(f"Failed to check url: {e}")
    return False

def find_all_tables(soup: BeautifulSoup, file_name) -> list:
    tables = soup.find_all("table")
    print(f"Found {len(tables)} tables in the html file")
    if len(tables) == 0:
        print(f"No tables found in the html file")
        return False
    else:
        output_txt = os.path.join('scrap',"html_table", f"{file_name}.txt")
        with open(output_txt, "a") as out:
            for table in tables:
                # convert html table to pandas dataframe
                try:
                    print("="*100)
                    print("Converting html table to pandas dataframe")
                    print(str(table))
                    df = pd.read_html(str(table).replace('%', ''))[0]
                    assert isinstance(df, pd.DataFrame)
                    # remove the '\n' in the dataframe
                    df = df.replace(r'\n','', regex=True)
                    # search for the keywords in the table
                    out.write("="*100)
                    out.write("\n")
                    for key, title in table_keywords.items():
                        if key in df.to_string():
                            out.write('title: ')
                            out.write(title)
                            out.write("\n")
                    out.write("="*100)
                    out.write("\n")
                    # new line for each table            
                    out.write(df.to_string())   
                    out.write("\n")
                    out.write("="*100)
                    out.write("\n")
                    return True
                except Exception as e:
                    print(f"Failed to convert html table to pandas dataframe: {e}")
                    return False

In [51]:
html_file = "/Users/wenqiangfang/PythonProject/web_scraping/scrap/pdfs/005.html"
with open(html_file, "r") as f:
    html = f.read()
soup = BeautifulSoup(html, 'html.parser')
tables = soup.find_all("table")

In [52]:
for tab in tables:
    print("="*100)
    print(tab)
    try:
        df = pd.read_html(str(tab).replace('%', ''))[0]
    except Exception as e:
        print(f"Failed to convert html table to pandas dataframe: {e}")
    print("="*50)
    print(df.to_string())

====================================================================================================
<table><tbody><tr><th scope="col" width="70%">Description</th>
<th scope="col" width="30%"> </th>
</tr><tr><td>
<p>Does the program or institution require students, trainees, and/or staff (faculty) to comply with specific policies or practices related to the institution’s affiliation or purpose? Such policies or practices may include, but are not limited to, admissions, hiring, retention policies, and/or requirements for completion that express mission and values?</p>
</td>
<td>
<p>_______  Yes</p>
<p>___X___  No</p>
</td>
</tr></tbody></table>
==================================================
                                                                                                                                                                                                                                                                                                                                                         Description              Unnamed: 1
0  Does the program or institution require students, trainees, and/or staff (faculty) to comply with specific policies or practices related to the institution’s affiliation or purpose? Such policies or practices may include, but are not limited to, admissions, hiring, retention policies, and/or requirements for completion that express mission and values?  _______ Yes ___X___ No
====================================================================================================
<table><tbody><tr><th rowspan="2" scope="col" style="text-align: center;">Outcome</th>
<th colspan="100%" scope="col" style="text-align: center;">Year in which Degrees were Conferred</th>
</tr><tr><th colspan="2" scope="col" style="text-align: center;">2013-2014</th>
<th colspan="2" scope="col" style="text-align: center;">2014-2015</th>
<th colspan="2" scope="col" style="text-align: center;">2015-2016</th>
<th colspan="2" scope="col" style="text-align: center;">2016-2017</th>
<th colspan="2" scope="col" style="text-align: center;">2017-2018</th>
<th colspan="2" scope="col" style="text-align: center;">2018-2019</th>
<th colspan="2" scope="col" style="text-align: center;">2019-2020</th>
<th colspan="2" scope="col" style="text-align: center;">2020-2021</th>
<th colspan="2" scope="col" style="text-align: center;">2021-2022</th>
<th colspan="2" scope="col" style="text-align: center;">2022-2023</th>
<th colspan="2" scope="col" style="text-align: center;">TOTAL</th>
</tr><tr><th scope="row">Total number of students with doctoral degree conferred on transcript</th>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">6</td>
<td class="text-align-center" colspan="2">6</td>
<td class="text-align-center" colspan="2">12</td>
<td class="text-align-center" colspan="2">14</td>
<td class="text-align-center" colspan="2">3</td>
<td class="text-align-center" colspan="2">13</td>
<td class="text-align-center" colspan="2">54</td>
</tr><tr><th scope="row"><strong>Mean</strong> number of years to complete the program</th>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">4.83</td>
<td class="text-align-center" colspan="2">5.11</td>
<td class="text-align-center" colspan="2">5.89</td>
<td class="text-align-center" colspan="2">5.69</td>
<td class="text-align-center" colspan="2">6</td>
<td class="text-align-center" colspan="2">6.13</td>
<td class="text-align-center" colspan="2">5.7</td>
</tr><tr><th scope="row"><strong>Median</strong> number of years to complete the program</th>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">0</td>
<td class="text-align-center" colspan="2">5</td>
<td class="text-align-center" colspan="2">5</td>
<td class="text-align-center" colspan="2">5.66</td>
<td class="text-align-center" colspan="2">6</td>
<td class="text-align-center" colspan="2">6</td>
<td class="text-align-center" colspan="2">6</td>
<td class="text-align-center" colspan="2">5.83</td>
</tr><tr><th scope="col" style="text-align: center;">Time to Degree Ranges</th>
<th style="text-align: center;">N</th>
<th style="text-align: center;">%</th>
<th style="text-align: center;">N</th>
<th style="text-align: center;">%</th>
<th style="text-align: center;">N</th>
<th style="text-align: center;">%</th>
<th style="text-align: center;">N</th>
<th style="text-align: center;">%</th>
<th style="text-align: center;">N</th>
<th style="text-align: center;">%</th>
<th style="text-align: center;">N</th>
<th style="text-align: center;">%</th>
<th style="text-align: center;">N</th>
<th style="text-align: center;">%</th>
<th style="text-align: center;">N</th>
<th style="text-align: center;">%</th>
<th style="text-align: center;">N</th>
<th style="text-align: center;">%</th>
<th style="text-align: center;">N</th>
<th style="text-align: center;">%</th>
<th style="text-align: center;">N</th>
<th style="text-align: center;">%</th>
</tr><tr><th scope="row">Students in less than 5 years</th>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">1</td>
<td class="text-align-center">17</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">1</td>
<td class="text-align-center">2</td>
</tr><tr><th scope="row">Students in 5 years</th>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">5</td>
<td class="text-align-center">83</td>
<td class="text-align-center">4</td>
<td class="text-align-center">67</td>
<td class="text-align-center">4</td>
<td class="text-align-center">33</td>
<td class="text-align-center">6</td>
<td class="text-align-center">43</td>
<td class="text-align-center">1</td>
<td class="text-align-center">33</td>
<td class="text-align-center">2</td>
<td class="text-align-center">15</td>
<td class="text-align-center">22</td>
<td class="text-align-center">41</td>
</tr><tr><th scope="row">Students in 6 years</th>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">2</td>
<td class="text-align-center">33</td>
<td class="text-align-center">3</td>
<td class="text-align-center">25</td>
<td class="text-align-center">6</td>
<td class="text-align-center">43</td>
<td class="text-align-center">1</td>
<td class="text-align-center">33</td>
<td class="text-align-center">6</td>
<td class="text-align-center">46</td>
<td class="text-align-center">18</td>
<td class="text-align-center">33</td>
</tr><tr><th scope="row">Students in 7 years</th>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">5</td>
<td class="text-align-center">42</td>
<td class="text-align-center">2</td>
<td class="text-align-center">14</td>
<td class="text-align-center">1</td>
<td class="text-align-center">33</td>
<td class="text-align-center">4</td>
<td class="text-align-center">31</td>
<td class="text-align-center">12</td>
<td class="text-align-center">22</td>
</tr><tr><th scope="row">Students in more than 7 years</th>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">0</td>
<td class="text-align-center">1</td>
<td class="text-align-center">8</td>
<td class="text-align-center">1</td>
<td class="text-align-center">2</td>
</tr></tbody></table>
==================================================
                                                                 Outcome Year in which Degrees were Conferred
                                                                 Outcome                            2013-2014 2013-2014.1 2014-2015 2014-2015.1 2015-2016 2015-2016.1 2016-2017 2016-2017.1 2017-2018 2017-2018.1 2018-2019 2018-2019.1 2019-2020 2019-2020.1 2020-2021 2020-2021.1 2021-2022 2021-2022.1 2022-2023 2022-2023.1 TOTAL TOTAL.1 Unnamed: 23_level_1 Unnamed: 24_level_1 Unnamed: 25_level_1 Unnamed: 26_level_1 Unnamed: 27_level_1 Unnamed: 28_level_1 Unnamed: 29_level_1 Unnamed: 30_level_1 Unnamed: 31_level_1 Unnamed: 32_level_1 Unnamed: 33_level_1 Unnamed: 34_level_1 Unnamed: 35_level_1 Unnamed: 36_level_1 Unnamed: 37_level_1 Unnamed: 38_level_1 Unnamed: 39_level_1 Unnamed: 40_level_1 Unnamed: 41_level_1 Unnamed: 42_level_1 Unnamed: 43_level_1 Unnamed: 44_level_1 Unnamed: 45_level_1 Unnamed: 46_level_1 Unnamed: 47_level_1 Unnamed: 48_level_1 Unnamed: 49_level_1 Unnamed: 50_level_1 Unnamed: 51_level_1 Unnamed: 52_level_1 Unnamed: 53_level_1 Unnamed: 54_level_1 Unnamed: 55_level_1 Unnamed: 56_level_1 Unnamed: 57_level_1 Unnamed: 58_level_1 Unnamed: 59_level_1 Unnamed: 60_level_1 Unnamed: 61_level_1 Unnamed: 62_level_1 Unnamed: 63_level_1 Unnamed: 64_level_1 Unnamed: 65_level_1 Unnamed: 66_level_1 Unnamed: 67_level_1 Unnamed: 68_level_1 Unnamed: 69_level_1 Unnamed: 70_level_1 Unnamed: 71_level_1 Unnamed: 72_level_1 Unnamed: 73_level_1 Unnamed: 74_level_1 Unnamed: 75_level_1 Unnamed: 76_level_1 Unnamed: 77_level_1 Unnamed: 78_level_1 Unnamed: 79_level_1 Unnamed: 80_level_1 Unnamed: 81_level_1 Unnamed: 82_level_1 Unnamed: 83_level_1 Unnamed: 84_level_1 Unnamed: 85_level_1 Unnamed: 86_level_1 Unnamed: 87_level_1 Unnamed: 88_level_1 Unnamed: 89_level_1 Unnamed: 90_level_1 Unnamed: 91_level_1 Unnamed: 92_level_1 Unnamed: 93_level_1 Unnamed: 94_level_1 Unnamed: 95_level_1 Unnamed: 96_level_1 Unnamed: 97_level_1 Unnamed: 98_level_1 Unnamed: 99_level_1 Unnamed: 100_level_1
0  Total number of students with doctoral degree conferred on transcript                                    0         0.0         0         0.0         0         0.0         0         0.0         6        6.00         6        6.00        12       12.00        14       14.00         3         3.0        13       13.00    54   54.00                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                  NaN
1                           Mean number of years to complete the program                                    0         0.0         0         0.0         0         0.0         0         0.0      4.83        4.83      5.11        5.11      5.89        5.89      5.69        5.69         6         6.0      6.13        6.13   5.7    5.70                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                  NaN
2                         Median number of years to complete the program                                    0         0.0         0         0.0         0         0.0         0         0.0         5        5.00         5        5.00      5.66        5.66         6        6.00         6         6.0         6        6.00  5.83    5.83                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                  NaN
3                                                  Time to Degree Ranges                                    N         NaN         N         NaN         N         NaN         N         NaN         N         NaN         N         NaN         N         NaN         N         NaN         N         NaN         N         NaN     N     NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                 NaN                  NaN

In [58]:
excel_file = "scrap/result/apa_programs_licensure.xlsx"
df = pd.read_excel(excel_file)
row = df.loc[5]

file_name = f"{row['Index']:03d}-{row['University']}-{row['City']}"
print(file_name)
tables = get_table(row["info_href"], file_name)
# print(tables)

005-University of San Francisco-San Francisco
View info url is valid!
Found 7 tables in the html file
====================================================================================================
Converting html table to pandas dataframe
<table><tbody><tr><th scope="col" width="70%">Description</th>
<th scope="col" width="30%"> </th>
</tr><tr><td>
<p>Does the program or institution require students, trainees, and/or staff (faculty) to comply with specific policies or practices related to the institution’s affiliation or purpose? Such policies or practices may include, but are not limited to, admissions, hiring, retention policies, and/or requirements for completion that express mission and values?</p>
</td>
<td>
<p>_______  Yes</p>
<p>___X___  No</p>
</td>
</tr></tbody></table>

In [26]:
excel_file = "scrap/result/apa_programs_licensure.xlsx"
df = pd.read_excel(excel_file)
for ind, row in df.iterrows():
    if not row['has_pdf']:
        if row['special'] is not np.nan:
            continue
        if row['html_table'] == 1:
            file_name = f"{row['Index']:03d}-{row['University']}-{row['City']}"
            print(f"Processing row {file_name}")
            found = get_table(row['info_href'], file_name)
            if found:
                df.loc[ind, "table_found"] = 1
            # if tables:
            #     df.loc[ind, "special"] = 1
# save the updated dataframe
df.to_excel(excel_file, index=False)

Processing row 003-California Northstate University-Rancho Cordova
View info url is valid!
Processing row 004-The Chicago School, Anaheim-Anaheim
View info url is valid!
Processing row 005-University of San Francisco-San Francisco
View info url is valid!
Processing row 006-The Chicago School, Los Angeles-Los Angeles
View info url is valid!
Processing row 009-California Lutheran University-Oxnard
View info url is valid!
Processing row 025-George Washington University-Washington
View info url is valid!
Processing row 026-The Chicago School of Professional Psychology - Washington, D.C. Campus-Washington
View info url is valid!
Processing row 031-Florida Institute of Technology-Melbourne
View info url is valid!
Processing row 036-The Chicago School-Chicago
View info url is valid!
Processing row 040-The Chicago School, Chicago Campus-Chicago
View info url is valid!
Processing row 046-The Chicago School-New Orleans
View info url is valid!
Processing row 047-Springfield College-Springfield
View info url is valid!
Processing row 049-William James College-Newton
View info url is valid!
Processing row 050-Loyola University Maryland-Baltimore
View info url is valid!
Processing row 065-William Paterson University-Wayne
View info url is valid!
Processing row 070-St. John's University-Queens
View info url is valid!
Processing row 075-Alfred University-Alfred
View info url is valid!
Processing row 078-Xavier University-Cincinnati
View info url is valid!
Processing row 082-Philadelphia College of Osteopathic Medicine-Philadelphia
View info url is valid!
Processing row 083-Indiana University of Pennsylvania-Indiana
View info url is valid!
Processing row 093-Philadelphia College of Osteopathic Medicine-Philadelphia
View info url is valid!
Processing row 102-Regent University-Virginia Beach
View info url is valid!
Processing row 104-Divine Mercy University-Sterling
View info url is valid!
Processing row 108-Wisconsin School of Professional Psychology-Milwaukee
View info url is valid!
No tables found in the html file

## Parse PDF

In [ ]:
import warnings

# Ignore specific FutureWarnings
warnings.filterwarnings("ignore", category=FutureWarning, module="tabula.io")

In [ ]:
verified_excel = "scrap/result/apa_programs_licensure.xlsx"
df = pd.read_excel(verified_excel)

programs = dict()
for index, row in df.iterrows():
    if row["has_pdf"]:
        program = ProgramPDF(row)
        program.extract_page_info()
        programs[index] = program
        program.print_pdf()

In [ ]:
verified_excel = "scrap/result/apa_programs_verified.xlsx"
df = pd.read_excel(verified_excel)
from scrap.common import ProgramPDF

df_pdf = df[df["has_pdf"] == True]
program_pdf = ProgramPDF(df_pdf.iloc[0])
program_pdf.extract_page_info()
program_pdf.print_pdf()

In [ ]:
verified_excel = "scrap/result/apa_programs_verified.xlsx"
df = pd.read_excel(verified_excel)
df_pdf = df[df["has_pdf"] == True]
from scrap.common import ProgramPDF

program_pdf = ProgramPDF(df_pdf.iloc[0])

program_pdf.extract_page_info()
program_pdf.print_pdf()
program_pdf.extract_program_info()

In [ ]:
program_pdf.licensure.iloc[-1,-1]

## QA model

In [ ]:
import os
import pandas as pd
from transformers import pipeline 
import warnings
# Ignore specific FutureWarnings
warnings.filterwarnings("ignore", category=FutureWarning, module="transformers")

# qa = pipeline("document-question-answering", model="bert-large-uncased-whole-word-masking-finetuned-squad", revision="main")
# qa = pipeline("question-answering", model="distilbert/distilbert-base-cased-distilled-squad", revision="626af31")
# qa = pipeline("question-answering")

table_keywords = {
    "time_to_complete": ("What is the Median number of years to complete the program?",),
    "tuition": ("What is the tuition for full-time out-of-state students?",),
    "internship": ("How many students obtained APPIC member internships that were not APA/CPA-accredited?",),
    "attrition": ("How many new students in the recent cohort",),
    "licensure": ("The total number of program graduates between 2 and 10 years ago?", "How many of them became licensed psychologists?",  "What is the Licensure percentage?",),
}

excel_folder = r"scrap/materials/002-National University, Pleasant Hill, CA-John F. Kennedy University Teach-Out-Pleasant Hill"
excel_folder = r"scrap/materials/013-Fuller Theological Seminary-Pasadena"
fnames = os.listdir(excel_folder)
summary = dict()
for fname in fnames:
    if fname.endswith(".csv"):
        excel_file = os.path.join(excel_folder, fname)
        print(fname.split(".")[0])
        questions = table_keywords[fname.split(".")[0]]  
        # Read all the sheets in the excel file to dataframes and concatenate them
        df = pd.concat(pd.read_excel(excel_file, sheet_name=None), ignore_index=True)
        table_string = df.to_string(index=False)
        print(table_string)
summary

In [ ]:
import fitz  # PyMuPDF

def extract_text_from_pdf(pdf_path):
    doc = fitz.open(pdf_path)
    text = ""
    for page in doc:
        text += page.get_text()
    return text

pdf_text = extract_text_from_pdf("your_document.pdf")

In [ ]:
print(table_string.replace("NaN", " "))

In [ ]:
excel_file = os.path.join(excel_folder, fname)
df = pd.read_excel(excel_file)
for col in df.columns:
    df[col] = df[col].str.replace("  ", " ")
# clean up the table by removing NaN and extra spaces
table_string = df.to_string(index=False)
print(table_string)
table_string = table_string.replace("\n", " ").replace("NaN", " ")
table_string

In [ ]:
import fitz
import PyPDF2
import PyPDF2
from PyPDF2.errors import PdfReadError  # Ensure you're using a version of PyPDF2 that includes this exception

# file_name =r"scrap/pdfs/"
file_name = r"scrap/pdfs/002-National University, Pleasant Hill, CA-John F. Kennedy University Teach-Out-Pleasant Hill.pdf"
try:
    with open(file_name, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        content = ""
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            content += page.extract_text()
except FileNotFoundError:
    print("File not found.")
except PdfReadError:
    print("Error reading PDF file.")

# save the content to a text file
text_filename = file_name.replace(".pdf", ".txt")
with open(text_filename, "w") as f:
    f.write(content)

def extract_text_from_pdf(pdf_path):
    doc = fitz.open(pdf_path)
    text = ""
    for page in doc:
        text += page.get_text()
    return text
pdf_filename = os.path.join(
    "scrap",
    "pdfs",
    f"002-National University, Pleasant Hill, CA-John F. Kennedy University Teach-Out-Pleasant Hill.pdf",
)
pdf_text = extract_text_from_pdf(pdf_filename)
# save the content to a text file
text_filename = file_name.replace(".pdf", "_pitz.txt")
with open(text_filename, "w") as f:
    f.write(pdf_text)